* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222222;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 80%;
    margin: 3rem auto;
    .movies {
        .movie {
            display: flex;
            margin-bottom: 3rem;
            .poster img {
                height: 350px;
            }
            .info {
                margin-left: 2rem;
                .title {
                    margin-bottom: 1rem;
                }
                .description {
                    margin-bottom: 1rem;
                }
                .director, .cast, .lang, .country, .release, .vote {
                    font-size: .8rem;
                    margin: .3rem 0;
                }
                .vote {
                    &.green {
                        color: rgb(24, 125, 24);
                    }
                    &.red {
                        color: red;
                    }
                }
            }
        }
    }
}